@font-face {
  font-family: "Comic Sans MS";
  src: url("fonts/COMIC.TTF");
  src: local("Comic-Sans"), local("Comic Sans"),
    local("Comic Sans MS") url("fonts/COMIC.TTF"), format("truetype");
}

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  scroll-behavior: smooth;
}
.home-index p {
  font-size: 24px;
}
.home-index-div-1 {
  text-align: center;
}
.home-index-ibutton-1 {
  text-align: center;
  background-color: black;
  border: none;
  font-size: 37px;
  border-radius: 10px;
  color: white;
  padding: 0px 35px 10px 35px;
  transition-duration: 200ms;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 15px;
  position: absolute;
  text-decoration: none;
}
.home-index-ibutton-1:hover {
  cursor: pointer;
  background-color: grey;
  color: black;
}
.home-index-ibutton-1-parent {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  margin-top: auto;
}
.home-index-button-order-1 {
  left: 50%;
  transform: translateX(-0%);
}
.home-index-button-menu-1 {
  right: 100%;
  transform: translateX(-0%);
}
.home-index-button-order-1:hover {
  transform: translate(-0%, -4%);
}
.home-index-button-menu-1:hover {
  transform: translate(-0%, -4%);
}
.orderbutton {
  background-color: orange;
  padding: 5px;
  font-size: 17px;
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  transition-duration: 180ms;
}
.orderbutton:hover {
  background-color: red;
}
.orderbutton:active {
  background-color: lightcoral;
}
.order-index-checkout-button {
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  position: relative;
  top: 30px;
  transition-duration: 165ms;
  background-color: #00b306;
}
.order-index-checkout-button:hover {
  background-color: #00e800;
  cursor: pointer;
}
.order-index-checkout-button:active {
  background-color: #00ff00;
}
.order-index-checkout-process-order-div {
  position: fixed;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  border: 5px solid gray;
  border-radius: 4px;
  background-color: white;
  /*animation: order-index-proccessing-box-anim ease-out 1s forwards;*/
}
.order-index-checkout-process-order-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.procreq {
  opacity: 0;
  transition-duration: 600ms;
}
.order-index-progress-bar-container {
  height: 8px;
  background-color: rgb(230, 230, 230);
  position: relative;
  margin: 0px 15px;
  top: 100px;
  /* border: solid 1pt black; */
  border-radius: 10px;
}
.order-index-progress-bar-fill {
  position: absolute;
  height: 100%;
  background-color: rgb(0, 136, 95);
  border-radius: 5px;
  /* animation: order-index-progress-fill-anim ease-out 3.5s infinite; */
}
@keyframes order-index-progress-fill-anim {
  0% {
    width: 70px;
    left: 0px;
  }
  50% {
    width: 70px;
    left: 300px;
  }
  100% {
    width: 70px;
    left: 0px;
  }
}
@keyframes order-index-proccessing-box-anim {
  0% {
    top: 100%;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
.order-index-menu-p-1 p {
  font-size: 20px;
  width: fit-content;
  margin-left: 20px;
}
.order-index-menu-p-1 p h1 {
  width: 200px;
}
.menu-index-div-bg-1 {
  background-image: url(/src/menubg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 1270px;
  height: 1600px;
  left: 50%;
  background-size: 1270px 1600px;
  transform: translateX(-50%);
}
.menu-index-main-1 {
  font-size: 30px;
}
.menu-index-text-1 {
  position: relative;
  top: 80px;
}
.menu-index-button-np-1 {
  background-color: rgb(231, 231, 231);
  padding: 5px;
  font-size: large;
  box-shadow: 1px 1px 2px;
  border: none;
  color: black;
  text-decoration: none;
}
.menu-index-button-np-1:hover {
  cursor: pointer;
}
.menu-index-button-np-1:active {
  box-shadow: 0px 0px 0px;
  transform: translate(1px, 1px);
}
