* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.home-index p {
  font-size: 24px;
}
.home-index-div-1 {
  text-align: center;
}
.home-index-ibutton-1 {
  text-align: center;
  background-color: black;
  border: none;
  font-size: 37px;
  border-radius: 10px;
  color: white;
  padding: 0px 35px 10px 35px;
  transition-duration: 200ms;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 15px;
  position: absolute;
  text-decoration: none;
}
.home-index-ibutton-1:hover {
  cursor: pointer;
  background-color: grey;
  color: black;
}
.home-index-ibutton-1-parent {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  margin-top: auto;
}
.home-index-button-order-1 {
  left: 50%;
  transform: translateX(-0%);
}
.home-index-button-menu-1 {
  right: 100%;
  transform: translateX(-0%);
}
.home-index-button-order-1:hover {
  transform: translate(-0%, -4%);
}
.home-index-button-menu-1:hover {
  transform: translate(-0%, -4%);
}
.orderbutton {
  background-color: orange;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  transition-duration: 150ms;
}
.orderbutton:hover {
  background-color: red;
}
.orderbutton:active {
  background-color: lightcoral;
}
